.body{
    font-family: Arial, Helvetica, sans-serif;
}
.img-1{
    width: 150px;
  
}
.card{
   margin-top: 200px;
padding: 20px;
display: flex;
justify-content: space-around;
width: 400px;
margin: 0 auto;
text-align: center;
background: #ddebf8;
color: #2b2839;
border-bottom: 6px solid #d8cefe;

}